<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.coursework.mde/gherkin/Gherkin"
			class = "mde.coursework.gherkin.gherkin.GherkinPackage"
			genModel = "model/generated/Gherkin.genmodel" />
	</extension>
</plugin>
